<h1>My Wallet Project</h1>
<ul class="nav">
        <li class="nav-item">
          <a class="nav-link active" href="add">Add Account</a>
        </li>
        <li class="nav-item">
          <a class="nav-link" href="search">Search Account</a>
        </li>
        <li class="nav-item">
          <a class="nav-link" href="tmoney">Transfer Money</a>
        </li>
        <li class="nav-item">
            <a class="nav-link" href="find">View all</a>
          </li>
          <li class="nav-item">
              <a class="nav-link" href="withdraw">Withdraw Money</a>
            </li>
      </ul>



<router-outlet></router-outlet>